.footer {
  background-image: linear-gradient(to right top, #4d0254aa, #3f1459aa, #301e5caa, #20245caa, #0d285aaa);
  border-radius: 25px 25px 0 0;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  background-size: cover;
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0; 
}
.footer_text {
  color: #ffffffa2;
}
.footer_text a {
  color: #ffffff;
}
